[Unit]
Description=Remount filesystem to compress

Type=oneshot


[Service]
ExecStart=/usr/local/sbin/remountfs
[Install]
WantedBy=multi-user.target
Alias=remount.service
